

/* web site font */

body {
	background: url('font.jpg') no-repeat;
	background-size: 100% 100%;
}

/* border, shadow, text align */


header , nav , article {

	border-radius: 15px;
	box-shadow: 3px 3px 3px black ;
	text-align: center;
	word-wrap: break-word;
	
}



/* set the header css */

header {
	background-color: 06465e;
	height: auto;
	padding: 1%;
	margin: 15px 5px;
	font-size: 150%;
	color: Tomato;
	word-wrap: break-word;
}


/* set the nav style */

nav {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: DarkCyan;
	width: 20%;
	min-width: 90px;
	height: 70%;
	word-wrap: break-word;
	
}


nav a {
	font-family: Verdana;
	font-size: 2em;
	word-wrap: break-word;
	margin: 0.6em auto;
}


section {
	display:flex;
    flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	width: 85%;
}	




article {
	background-color: SteelBlue;
	width: auto;
	height: auto;
	margin: 5px ;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}



article p {
	text-align: left;
	margin: auto;
	font-size: 1.4em;
	
}

article h1 {
	font-size: 2em;
}


.flex {
	display: flex;
	width: auto;
	margin-top: 5%;
}

a:visited{
	color: 590b0b;
}
a:link {
	color: #f16932;
}
a:hover {
	color: #ff7f50;
}

@media screen and (max-width: 990px)
{
	nav  {
		display: inline;
		width: 85%; 
		margin: auto;
	}

	nav a {
		margin: 20px;
	}
	.flex , section {
		display: flex;
		flex-direction: column;
	}
}
